__pychche__/**
Learning/AutoEncoderSVG/**
DAEGC/**
GraphNeuralNetwork-Resilience-ComplexNetworks/**
.idea/**
venv/**
Modules/**
Learning/data/**
DAEGC/__pychche__/**
dataset/**
*.memmap
*.npz
*.pth

/Resilience/plotscore-no.py
/MGC-RM/no-Readout.py
